Scripting/ScriptingService/Connected Services/TradingService/ServerCommonObjects.Classes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
This project is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/
Any copyright is dedicated to the NominalNimbus.
https://github.com/NominalNimbus
-->

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerCommonObjects.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerCommonObjects.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CommonObjects" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CodeBase">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonObjects" minOccurs="0" name="Drawings" nillable="true" type="q1:ArrayOfDrawing" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonObjects" minOccurs="0" name="Parameters" nillable="true" type="q2:ArrayOfCodeParameterBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CodeBase" nillable="true" type="tns:CodeBase" />
  <xs:complexType name="Signal">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CodeBase">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommonObjects" minOccurs="0" name="Selections" nillable="true" type="q3:ArrayOfSelection" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommonObjects" minOccurs="0" name="State" type="q4:SignalState" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Signal" nillable="true" type="tns:Signal" />
  <xs:complexType name="Indicator">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CodeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsOverlay" type="xs:boolean" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommonObjects" minOccurs="0" name="Series" nillable="true" type="q5:ArrayOfSeries" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Indicator" nillable="true" type="tns:Indicator" />
  <xs:complexType name="ArrayOfSignal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Signal" nillable="true" type="tns:Signal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSignal" nillable="true" type="tns:ArrayOfSignal" />
  <xs:complexType name="ArrayOfSeriesForUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SeriesForUpdate" nillable="true" type="tns:SeriesForUpdate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeriesForUpdate" nillable="true" type="tns:ArrayOfSeriesForUpdate" />
  <xs:complexType name="SeriesForUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="IndicatorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeriesID" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Values" nillable="true" type="q6:ArrayOfKeyValueOfdateTimedouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeriesForUpdate" nillable="true" type="tns:SeriesForUpdate" />
</xs:schema>